@use "@/style/library/variable" as *;

.branches {
  .content {
    justify-content: space-between;
    gap: 50px;

    .addresses {
      gap: 30px;

      .filters {
        gap: 10px;
      }

      .list {
        gap: 10px;

        .address {
          gap: 10px;
          padding: 20px;
          background-color: $neutral;
          border-radius: 16px;
          cursor: pointer;
        }
      }
    }

    .map {
      iframe {
        border-radius: 16px;
      }
    }
  }
}
