@use "@/style/library/breakpoint" as *;

.contact-card {
  gap: 50px;

  .content {
    gap: 20px;
    justify-content: start;
    align-items: start;

    @include lg {
      gap: 10px;
    }

    img {
      border-radius: 24px;
      max-height: 220px;
      @include lg {
        max-height: 170px;
      }
    }

    .contact-details {
      gap: 20px;
      align-items: start;
      justify-content: start;

      .header {
        gap: 10px;
      }

      .footer {
        gap: 5px;

        .box {
          gap: 5px;
        }
      }
    }
  }
}
