@use "@/style/library/variable" as *;
@use "@/style/library/breakpoint" as *;

.courses {
  gap: 50px;

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    @include lg {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }

    .box {
      background-color: white;
      padding: 20px;
      border-radius: 24px;
      gap: 10px;

      .head {
        gap: 10px;

        small {
          font-weight: 200;
        }
      }

      .level {
        background-color: $neutral;
        padding: 5px 10px;
        border-radius: 24px;
        font-size: 0.8rem;
      }

      .description {
        margin-top: 20px;
        font-weight: 200;
      }
    }
  }
}
