@use "@/style/library/breakpoint" as *;

.cta-box {
  background-blend-mode: darken;
  .content {
    position: relative;
    min-height: 190px;
    color: white;
    border-radius: 24px;
    justify-content: space-between;
    padding: 0 50px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    & > * {
      position: relative;
      z-index: 2;
    }

    h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &::before {
      content: "";
      border-radius: 25px;
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    @include lg {
      padding: 20px;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      background-position: 60% 100% !important;
      gap: 20px;
    }
  }
}
