@use "@/style/library/breakpoint" as *;

.cta-box {
  .content {
    min-height: 190px;
    color: white;
    border-radius: 24px;
    justify-content: space-between;
    padding: 0 50px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    @include lg {
      padding: 20px;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 20px;
    }
  }
}
