@use "@/style/library/breakpoint" as *;

.hero {
  .hero-image {
    position: relative;
    img {
      width: 100%;
      border-radius: 32px;

      @include lg {
        height: 400px;
      }
    }
    .content {
      gap: 20px;
      position: absolute;
      bottom: 100px;
      left: 70px;
      color: white;
      align-items: flex-start;
      max-width: 500px;

      h1,
      p {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      @include lg {
        bottom: 50px;
        left: 20px;
      }
    }
  }
}
