@use "@/style/library/breakpoint" as *;

.iconcard {
  gap: 50px;

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    padding: 0 100px;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 0px;
      gap: 10px;
      &:has(:nth-last-child(1):nth-child(odd)) {
        > :last-child {
          grid-column: 1 / -1;
        }
      }
    }

    .box {
      background-color: white;
      border-radius: 24px;
      box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.14);
      gap: 20px;
      padding: 40px 10px;
      align-items: center;
      text-align: center;
      p {
        text-align: center;
      }
    }
  }
}
