.infocard {
  gap: 50px;

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;

    .box {
      background-color: white;
      border-radius: 24px;
      gap: 20px;
      padding: 40px;
      align-items: start;
      justify-content: space-between;

      .content {
        gap: 10px;
      }
    }
  }
}
