@use "@/style/library/breakpoint" as *;

.infocard {
  gap: 50px;

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 30px;
    width: 100%;

    @include lg {
      grid-template-columns: repeat(1, 1fr);
    }

    .box {
      background-color: white;
      border-radius: 24px;
      gap: 20px;
      padding: 40px;
      align-items: start;
      justify-content: space-between;

      .content {
        gap: 10px;
      }

      &.expandable-box {
        .expandable-content {
          width: 100%;
        }

        .expandable-section {
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.4s ease-in-out;

          &.expanded {
            opacity: 1;
            max-height: 2000px;
          }

          .expandable-inner {
            padding-top: 1rem;
            gap: 10px;
            display: flex;
            flex-direction: column;

            *:not(strong) {
              font-weight: 300;
            }
          }
        }

        .expand-button {
          transition: background-color 0.3s ease, transform 0.2s ease;

          &:hover {
            transform: translateY(-2px);
          }
        }

        ul {
          list-style: disc !important;
          margin-left: 15px;
          li {
            margin: 5px 0;
          }
        }

        .checklist-item {
          justify-content: start;
          align-items: start;
          gap: 5px;
          svg {
            min-width: 24px;
          }
        }
      }
    }
  }
}
