@use "@/style/library/variable" as *;

.qa {
  gap: 50px;

  .list {
    gap: 10px;

    .item {
      width: 100%;
      background-color: $neutral;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      transition: background-color 0.3s ease;

      .question {
        width: 100%;
        padding: 25px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 1.1rem;
          font-weight: 600;
        }

        .arrow {
          transition: all 0.5s;

          &.active {
            transform: rotate(180deg);
          }
        }
      }

      .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, padding 0.3s ease;

        p {
          padding: 0 40px 0 40px;
          opacity: 0;
          transform: translateY(-10px);
          transition: opacity 0.3s ease, transform 0.3s ease;
        }
      }

      &.active {
        .answer {
          padding: 0 0 25px 0;

          p {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0.1s;
          }
        }
      }
    }
  }
}
