@use "@/style/library/breakpoint" as *;

.topjob {
  width: 100%;
  gap: 100px;
  align-items: start;

  img {
    width: 40%;
  }
  .content {
    width: 60%;
    gap: 50px;

    ul {
      list-style: disc;
      gap: 20px;
    }
  }

  @include lg {
    flex-direction: column;
    gap: 50px;
    img {
      width: 100%;
    }
    .content {
      width: 100%;

      ul {
        padding-left: 15px;
      }
    }
  }
}
