@use "@/style/library/breakpoint" as *;
@use "@/style/library/variable" as *;

footer {
  background-color: white;

  .content {
    width: 100%;
    gap: 30px;
  }

  .f1 {
    width: 100%;
    justify-content: space-between;
    @include lg {
      padding-top: 40px;
    }

    .logo {
      width: 100px;
    }
  }

  .f2 {
    width: 100%;
    gap: 50px;
    justify-content: space-between;
    align-items: start;

    .col-1 {
      justify-content: space-between;
      max-width: 600px;

      gap: 20px;

      .socials {
        gap: 10px;

        svg:hover {
          fill: $pr;
        }
      }
    }

    @include lg {
      flex-direction: column;
    }

    .col-2,
    .col-3 {
      gap: 10px;
      .title {
        font-weight: 100;
      }
      nav {
        gap: 10px;

        a {
          font-size: 0.8rem;
        }
      }
    }
  }

  .f3 {
    width: 100%;
    justify-content: space-between;
  }
}
