footer {
  background-color: white;

  .content {
    width: 100%;
    gap: 50px;
  }

  .f1 {
    width: 100%;
    justify-content: space-between;

    .logo {
      width: 100px;
    }
  }

  .f2 {
    width: 100%;
    gap: 50px;
    justify-content: space-between;
    align-items: start;

    .col-1 {
      justify-content: space-between;
      height: -webkit-fill-available;

      .socials {
        gap: 10px;
      }
    }

    .col-2,
    .col-3 {
      gap: 10px;
      .title {
        font-weight: 100;
      }
      nav {
        gap: 10px;

        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}
