#header {
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 0px 50px;
  background-color: white;
  width: 100%;
  height: 70px;
  border-radius: 24px;
  max-width: calc(100% - 200px);

  .logo {
    width: 100px;
  }

  .nav {
    gap: 50px;

    .site-nav {
      gap: 30px;
    }
  }
}
