@use "@/style/library/breakpoint" as *;

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 50px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 50px;
  margin: 0 auto;

  @include lg {
    padding: 10px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
