@use "sass:map";

$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "xxl": 1560px,
);

@mixin respond-below($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}. Available breakpoints are: #{map.keys($breakpoints)}";
  }
}

@mixin sm {
  @include respond-below("sm") {
    @content;
  }
}
@mixin md {
  @include respond-below("md") {
    @content;
  }
}
@mixin lg {
  @include respond-below("lg") {
    @content;
  }
}
@mixin xl {
  @include respond-below("xl") {
    @content;
  }
}
@mixin xxl {
  @include respond-below("xxl") {
    @content;
  }
}
