@use "@/style/library/variable" as *;

form {
  gap: 20px;
  width: 100%;

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid $neutral;
    border-radius: 50px;
  }

  label {
    margin-bottom: -10px;
    font-weight: 200;
  }
}
