@use "@/style/library/variable" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: rgba($color: black, $alpha: 0.7);
    color: white;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

a {
  text-decoration: none;
  color: black;
}
a[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: $neutral;
}

button,
input[type="submit"] {
  font-family: inherit;
  border: none;
  background-color: transparent;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  min-height: 100vh;
}
