@use "@/style/library/variable" as *;
@use "@/style/library/breakpoint" as *;

#contact-page {
  .contact-info {
    width: 100%;
    gap: 100px;
    align-items: start;

    .info {
      width: 50%;
      gap: 20px;

      small {
        margin-bottom: -10px;
      }

      .socials {
        gap: 5px;
        svg:hover {
          fill: $pr;
        }
      }
    }

    .form {
      gap: 20px;
      width: 50%;
      background-color: $neutral;
      height: 100%;
      padding: 50px;
      border-radius: 32px;
    }

    .success {
      border: 1px solid #21b532;
      padding: 10px;
      border-radius: 12px;
      background-color: #21b532db;
      color: white;
    }

    .error {
      border: 1px solid #b62024;
      padding: 10px;
      border-radius: 12px;
      background-color: #b62025d8;
      color: white;
    }

    @include lg {
      flex-direction: column;
      gap: 50px;

      .info,
      .form {
        width: 100%;
      }

      .form {
        padding: 50px 20px;
      }
    }
  }
}
