@use "@/style/library/breakpoint" as *;

.digital-services {
  .iconcard {
    .list {
      grid-template-columns: repeat(4, 1fr);
      padding: 0;

      @include lg {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .infocard {
    .list {
      grid-template-columns: repeat(4, 1fr);
      @include lg {
        grid-template-columns: repeat(1, 1fr);
      }

      p {
        font-weight: 200;
      }
    }
  }
}
