#financing {
  .iconcard {
    .list {
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
      .box {
        h3 {
          font-size: 1rem;
        }
        p {
          color: #292f35;
          font-weight: 300;
          text-align: center;
        }
      }
    }
  }
}
