@use "@/style/library/variable" as *;
@use "@/style/library/breakpoint" as *;

#home-page {
  .hero {
    .btn-pr {
      color: $pr;
      background-color: $neutral;
      border-color: $neutral;

      &:hover {
        background-color: darken($neutral, 10%);
      }
    }
    img {
      height: 600px;
      clip-path: url(#roundedShape);

      object-position: right;

      @include lg {
        clip-path: none;
      }
    }
  }
  .sub-hero {
    margin-top: -200px;
    gap: 50px;
    justify-content: space-between;
    .text {
      width: 40%;
      max-width: 400px;
      margin-top: 20px;
    }

    .cards {
      margin-top: -90px;
      width: 55%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .card {
        background-color: $neutral;
        align-items: center;
        justify-content: center;
        padding: 50px 10px;
        border-radius: 24px;
        transition: all 0.3s;
        z-index: 100;
        position: relative;
        z-index: 1;
        img {
          max-width: 80px;
        }
        p {
          font-weight: 600;
        }

        .cta-icon {
          position: absolute;
          bottom: 10px;
          right: 10px;
          display: none !important;
          transition: all 0.3s;
        }

        &:hover {
          background-color: $pr;
          color: white;

          .cta-icon {
            display: block !important;
          }
        }
      }
    }

    @include lg {
      margin-top: unset;
      flex-direction: column;

      .text {
        width: 100%;
        max-width: unset;
        margin-top: 0px;
      }

      .cards {
        margin-top: 0px;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .besonderheiten {
    background-color: $neutral;
    padding: 50px 0;

    .list {
      padding: 100px 100px 0px 100px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;

      @include lg {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 20px 0px 20px;
        gap: 50px 20px;
      }

      .item {
        gap: 80px 40px;
        justify-content: start;
        align-items: start;

        .name {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            width: 30px;
            left: -35px;
            top: 7px;
            height: 1px;
            background-color: black;
          }
        }
      }
    }
  }

  .modern {
    width: 100%;
    gap: 100px;

    @include lg {
      flex-direction: column;
    }

    .content {
      width: 50%;
      gap: 50px;

      ul {
        list-style: disc;
        gap: 20px;
      }

      @include lg {
        width: 100%;

        ul {
          padding-left: 15px;
        }
      }
    }

    .imgs {
      position: relative;
      justify-content: start;
      width: 50%;

      @include lg {
        width: 100%;
      }

      .img-1 {
        width: 70%;
      }

      .img-2 {
        width: 50%;
        position: absolute;
        bottom: -20%;
        right: 10%;

        @include lg {
          bottom: -20%;
          right: 0%;
        }
      }
    }

    .cta {
      gap: 10px;
    }
  }

  .vertrau {
    gap: 100px;
    padding: 0 100px;

    .content {
      width: 60%;
      gap: 20px;
      ul {
        list-style: disc;
        gap: 20px;

        li {
          margin-left: 15px;
        }
      }
    }

    @include lg {
      flex-direction: column-reverse;
      padding: 0 20px;

      .content {
        width: 100%;
      }
    }
  }

  .schritte {
    img {
      margin-top: 50px;
      width: 100%;
    }
  }

  .feedbacks {
    gap: 50px;

    .list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;

      @include lg {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }

      .box {
        background-color: white;
        padding: 20px;
        border-radius: 24px;
        border: 1px solid $neutral;
        min-height: 200px;
        justify-content: space-between;

        .footer {
          width: 100%;
          justify-content: space-between;
          align-items: flex-end;

          .profile {
            gap: 10px;
            .img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: $neutral;
            }
          }

          .rate {
            background-color: $neutral;
            padding: 5px 10px;
            border-radius: 25px;
          }
        }
      }
    }
  }
}
