@use "@/style/library/variable" as *;

#home-page {
  .sub-hero {
    margin-top: -200px;
    gap: 50px;
    justify-content: space-between;
    .text {
      width: 40%;
      max-width: 400px;
      margin-top: 20px;
    }

    .cards {
      margin-top: -90px;
      width: 55%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .card {
        background-color: $neutral;
        align-items: center;
        justify-content: center;
        padding: 50px 10px;
        border-radius: 24px;
        img {
          max-width: 80px;
        }
        p {
          font-weight: 600;
        }
      }
    }
  }

  .besonderheiten {
    background-color: $neutral;
    padding: 50px 0;

    .list {
      padding: 100px 100px 0px 100px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;

      .item {
        gap: 80px 40px;
        justify-content: start;
        align-items: start;

        .name {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            width: 30px;
            left: -35px;
            top: 7px;
            height: 1px;
            background-color: black;
          }
        }
      }
    }
  }

  .modern {
    width: 100%;
    gap: 100px;

    .imgs {
      width: 50%;
    }
    .content {
      width: 50%;
      gap: 50px;

      ul {
        list-style: disc;
        gap: 20px;
      }
    }

    .imgs {
      position: relative;

      .img-1 {
        width: 100%;
      }

      .img-2 {
        position: absolute;
        bottom: -10%;
        right: -10%;
      }
    }

    .cta {
      gap: 10px;
    }
  }

  .vertrau {
    gap: 100px;
    padding: 0 100px;
    .content {
      width: 60%;
      gap: 20px;
      ul {
        list-style: disc;
        gap: 20px;

        li {
          margin-left: 15px;
        }
      }
    }
  }

  .zertifikats {
    gap: 50px;

    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      width: 100%;
      padding: 0 100px;

      .box {
        border-radius: 24px;
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.14);
        gap: 20px;
        padding: 40px 10px;
        align-items: center;
      }
    }
  }

  .schritte {
    img {
      margin-top: 50px;
      width: 100%;
    }
  }

  .feedbacks {
    gap: 50px;

    .list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;

      .box {
        background-color: white;
        padding: 20px;
        border-radius: 24px;
        border: 1px solid $neutral;
        min-height: 200px;
        justify-content: space-between;

        .footer {
          width: 100%;
          justify-content: space-between;
          align-items: flex-end;

          .profile {
            gap: 10px;
            .img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: $neutral;
            }
          }

          .rate {
            background-color: $neutral;
            padding: 5px 10px;
            border-radius: 25px;
          }
        }
      }
    }
  }

  .qa {
    gap: 50px;

    .list {
      gap: 10px;

      .item {
        width: 100%;
        background-color: $neutral;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        transition: background-color 0.3s ease;

        .question {
          width: 100%;
          padding: 25px 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-size: 1.1rem;
            font-weight: 600;
          }

          .arrow {
            transition: all 0.5s;

            &.active {
              transform: rotate(180deg);
            }
          }
        }

        .answer {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease, padding 0.3s ease;

          p {
            padding: 0 40px 0 40px;
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
          }
        }

        &.active {
          .answer {
            padding: 0 0 25px 0;

            p {
              opacity: 1;
              transform: translateY(0);
              transition-delay: 0.1s;
            }
          }
        }
      }
    }
  }
}
