.theory-test {
  .iconcard {
    .list {
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
    }
  }

  .infocard {
    .list {
      grid-template-columns: repeat(4, 1fr);

      p {
        font-weight: 200;
      }
    }
  }
}
