@use "@/style/library/breakpoint" as *;

.theory-test {
  .iconcard {
    .list {
      margin-bottom: 50px;
      grid-template-columns: repeat(4, 1fr);
      @include lg {
        grid-template-columns: repeat(1, 1fr);
      }
      padding: 0;
    }
  }
}
