@use "@/style/library/breakpoint" as *;

#vr {
  .iconcard {
    .list {
      grid-template-columns: repeat(4, 1fr);
      @include lg {
        grid-template-columns: repeat(2, 1fr);
      }
      padding: 0;
      .box {
        h3 {
          font-size: 1rem;
        }
        p {
          color: #292f35;
          font-weight: 300;
          text-align: center;
        }
      }
    }
  }

  .Lerninhalte {
    gap: 50px;

    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 100px;
      justify-items: start;

      .box {
        gap: 10px;
      }

      @include lg {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
      }
    }
  }

  .Warum {
    gap: 50px;
    align-items: start;
    @include lg {
      gap: 20px;
    }
    img {
      border-radius: 24px;
      width: 40%;
      min-height: 300px;
      object-position: 40%;
    }

    .content {
      gap: 30px;

      ul {
        list-style: disc;
        margin-left: 15px;
        li {
          padding: 10px;
        }
      }
    }
  }

  .infocard {
    .list {
      grid-template-columns: repeat(4, 1fr);
      @include lg {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
      .box {
        align-items: center;
        justify-content: center;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
